<!DOCTYPE html>
<html>
<head>
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/dotenv/8.2.0/dotenv.min.js"></script>-->
</head>
<body>

<input type="number" id="Number_of_pages_to_request" value=1>
<button id="POST_Button">test POST{}</button>

<div id="result"></div>

<script>
document.getElementById("POST_Button").addEventListener("click", function() {
  var value = document.getElementById("Number_of_pages_to_request").value;
  var apiEndpoint = "{{ api_endpoint }}";

  // // Check if the application is running on localhost
  // if (window.location.hostname === "localhost" || window.location.hostname === "127.0.0.1") {
  //   apiEndpoint = process.env.API_ENDPOINT_LOCAL; // Use the local endpoint
  // }
  // else {
  //   apiEndpoint = process.env.API_ENDPOINT_PROD; // Use the production endpoint
  // }

  fetch(apiEndpoint, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      questions_num: value,
    })
  })
  .then(response => response.json())
  .then(data => {
    document.getElementById("result").innerHTML = JSON.stringify(data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });
});
</script>

</body>
</html>